# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
example/exampleApp/node_modules
example/expoApp/node_modules
example/expo-app-39/node_modules

# Node.JS specifics
pids
lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
.expo

results

# MacOSX specifics
.DS_Store

# Build artifacts
tmp
bower_components
dist
ts_dist
.sass-cache
build/Release

# IDE specifics
.idea

# temp files
.tmp
mock

.DS_Store

.idea
